html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*==================================*/


.wrap{
	margin: auto;
}

.header{
	height: 90px;
}

.bar{
	height: 30px;
	/*background: lightgrey;*/
	background: #f6f6f6;
}

.bar ul{
	float: right;
	display: inline;
}

.bar ul li{
	float: left;
	margin: 5px;
}

.bar a{
	text-decoration: none;
}

.facebook span{
	color: #4460a0;
}

/*topmenu*/

.topmenu{
	/*height: 40px;*/
}

.topmenu ul{
	float: right;
	margin: 5px;
}

.topmenu ul li{
	float: left;
	margin: 20px;
	text-align: center;
}

.topmenu ul li a{
	color: #22b28e;
	font-weight: bold;
	text-decoration: none;
}

.topmenu ul li a:hover{
	font-size: 20px;
	border: #22b28e;
}

/*content*/

.banner{
	/*width: auto;*/
	height: 500px;
	color: #fff;
	font-size: 50px;
	/*font-weight: bold;*/
	background: url(../img/banner.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
}

.banner p{
	/*margin-top: 100px;*/
	background-color: 40% lightgrey;
}

.topics {
	margin-left: 80px;
}


.topics div{
	float:left;
	width: 300px;
	/*height: 400px;*/
	/*height: 400px;*/
	padding:50px;
	margin-left: 40px;
	border: 1px solid #000;
	line-height: 20px;
	box-shadow: 1px 1px 10px grey;
}

.topics img{
	width: 100%;
}

.topics ul li{
	text-align: left;
}

h2{
	word-spacing: 5px;
	text-align: center;
	font-weight: bold;
}


.clearfix{
	clear:both;	
}

/*table*/
h1{
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.price{
	width: 1200px;
	margin-left: 150px;
	margin-bottom: 100px;
}

.price th, .price td{
	
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	/*text-align: center;*/
	
}

.price th{
	padding: 10px;
	/*background: green;*/
	background: lightgrey;
	/*text-align: center;*/
	color: #000;
	font-weight: bold;
}

.price td{
	padding: 10px;
	/*text-align: center;*/
}

.green{
	color:#22b28e;
	font-weight: bold;
}


/*form*/

.form{
	/*width: 1350px;*/
	/*height: 400px;*/
	/*margin-left: 80px;*/
	background-size: cover;
	background-image: linear-gradient(to bottom,#00664c,#22b28e);
}

.form h1{
	color:#fff;
	font-size: 40px;
	line-height: 150%;
	padding-top: 30px;
}

.form textarea{
	margin-left: 40px;
	margin-bottom: 40px;
}

.form form{
	float: right;
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	margin-right: 70px;
}

.form form input{
	width: 600px;
	height: 30px;
	border-radius: 5px;
	margin-bottom: 20px;
}

.form #button{
	float: right;
	width: 90px;
	color: #fff;
	background-color: #22b28e;
}


/*footer*/
.footermenu ul li{
	float: right; 
}

.footermenu ul li a{
	margin-left: 5px;
	text-decoration: none;
}